$Primary : hsl(180, 29%, 50%);
$LightGrayishCyan-color: hsl(180, 52%, 96%);
$LightGrayishCyan-color-tablets: hsl(180, 31%, 95%);
$DarkGrayishCyan-color: hsl(180, 8%, 52%);
$VeryDarkGrayishCyan-color: hsl(180, 14%, 20%);